In [ ]:
#use cntrl+enter to run that cell

In [9]:
print("hello")

hello

In [33]:
import math 
x=234.245
print(round(x,1))

234.2

In [32]:
y=36464.6886
x=53453535
z="panama"
type(x),type(y),type(z)

(int, float, str)

In [5]:
a="PYTHON"
print(len(a))
print(a.islower())
print(a.isupper())
print(a.endswith('0'))

6
False
True
False

In [6]:
x1=123.456
x2=int(x1)
print(x2,type(x2))

123 <class 'int'>

In [8]:
ab=int("4567")
cd=float("234.789")
print(type(ab)," ", type(cd))
""" only whole numbers in string can be converted to int type, similarly onl decimal numbers in string can only be convered to float type """

<class 'int'>   <class 'float'>

' only whole numbers in string can be converted to int type, similarly onl decimal numbers in string can only be convered to float type '

In [10]:
print(type(10.55)==float)
print(type(12297)==int)
print(type(456.789)==int)
print(type("panama")==str)
print(type(False)==bool)

True
True
False
True
True

In [14]:
print(10/5)
print(10//5)
print(19/2)
print(19//2)

2.0
2
9.5
9

In [15]:
x=2**9
print(x)

512

In [19]:
import sys
print(sys.version)
#print version of python

3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

In [20]:
import sys
print(sys.float_info)
#prints info on float

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)